@model HFZMVC.Models.UserManagement.RegisterViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string check = "";
    string chkval = "false";
    if (Model.Status == true)
    {
        check = "checked";
        chkval = "true";
    }
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Edit - @Model.CompanyName</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashoard</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);"> Edit</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card directory-card m-b-20" style="min-height: 100%;">
            <div>
                <div class="directory-content text-center p-4">
                    @using (Html.BeginForm("UpdateProfile", "Company", FormMethod.Post, new { enctype = "multipart/form-data", accept_charset = "utf-8" }))
                    {
                        <input type="hidden" name="ID" id="ID" value="@Model.ID" />
                        <h5 class="page-title" style="float: left;"> Company Information </h5>
                        <hr style="clear:both;">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="CompanyName">Company Name</label>
                              <input type="text" value="@Model.CompanyName" class="form-control" id="CompanyName" name="CompanyName" placeholder="Enter Company Name">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="Address">Address</label>
                              <input type="text" value="@Model.Address" class="form-control" id="Address" name="Address" placeholder="Enter Address">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="TradelicenseNo">Trade license No</label>
                              <input type="text" value="@Model.TradelicenseNo" class="form-control" id="TradelicenseNo" name="TradelicenseNo" placeholder="Enter Trade license No">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="CompanyLicenseFile">Trade license File</label>
                              <input type="file" class="form-control filebtns" onchange="getfilename(this)" id="CompanyLicenseFile" name="CompanyLicenseFile">
                              <label for="CompanyLicenseFile" id="CompanyLicenseFiledisplay">@Model.TradeLicenseFile</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="VatlicenseNo">VAT Number</label>
                              <input type="text" class="form-control" value="@Model.VatlicenseNo" id="VatlicenseNo" name="VatlicenseNo" placeholder="Enter Vat No">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="VatCertificateFile">VAT Certificate File</label>
                              <input type="file" class="form-control filebtns" onchange="getfilename(this)" id="VatCertificateFile" name="VatCertificateFile">
                              <label for="VatCertificateFile" id="VatCertificateFiledisplay">@Model.VATLicenseFile</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="Address2">Second Address</label>
                              <input type="text" class="form-control" value="@Model.Address2" id="Address2" name="Address2" placeholder="Enter Address2">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="ProcessFlowFile">Process flow Chart</label>
                              <input type="file" class="form-control filebtns" onchange="getfilename(this)" id="ProcessFlowFile" name="ProcessFlowFile">
                              <label for="ProcessFlowFile" id="ProcessFlowFiledisplay">@Model.ProcessFlowFilePath</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="WasteTreatementFile">Onsite Waste Treatement (before disposal)</label>
                              <input type="file" class="form-control filebtns" onchange="getfilename(this)" id="WasteTreatementFile" name="WasteTreatementFile">
                              <label for="WasteTreatementFile" id="WasteTreatementFiledisplay">@Model.WasteTreatementFilePath</label>
                            </div>
                          </div>
                        </div>
                        <h5 class="page-title" style="float: left;"> Contact Person Information </h5>
                        <hr style="clear:both;">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Name">Name</label>
                                    <input type="text" class="form-control" value="@Model.Name" id="Name" name="Name" placeholder="Enter Full Name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="PhoneNumber">Phone Number</label>
                                    <input type="text" class="form-control" value="@Model.PhoneNumber" id="PhoneNumber" name="PhoneNumber" placeholder="Enter Phone Number">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="EmailID">Email</label>
                                    <input type="text" class="form-control"  value="@Model.EmailID" id="EmailID" name="EmailID" placeholder="Enter Email">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Enter Password">
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary col-md-12 w-md waves-effect waves-light">Update Company</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<style>
    label {
        font-weight: 500;
        margin-bottom: 0;
        float: left;
    }

    .form-control {
        height: 41px;
        padding: 0;
    }

    .filebtns {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

        .filebtns + label {
            background-color: #78BE20;
            color: #fff;
            cursor: pointer;
            padding: 0 15px;
            width: 100%;
            display: inline-block;
            margin-bottom: 0;
            margin-top: 3px;
        }

            .filebtns:focus + label,
            .filebtns + label:hover {
                background-color: #007A3E;
            }

        .filebtns:focus + label {
            outline: 1px dotted #000;
        }
</style>
<script>
    function getfilename(v) {
        var id = v.id;
        var filename = $(v).val().split('\\').pop().trim();
        $("#" + id + "display").html(filename);
    }
</script>