@model IEnumerable<HFZMVC.Models.PermitRequest.PermitRequestIndexViewModel>
@{
  ViewBag.Title = "Permit Request";
  var messageID = TempData["message"] != null ? TempData["message"].ToString() : "0";


  bool isDeleteAccess = ViewBag.IsDelete;
  var role = Convert.ToInt32(Session[AppVariables.SessionUserRole]);


  Func<decimal, decimal, string> weightDescription = (we, con) => {
    if (con>we) {
      return "<b style=\"color:red\">" + con + " out of " + we + "</b>";
      ;
    }
    return "<div>"+ con+" out of "+we+"</div>";
  };
  }

}

<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">

      @if (ViewBag.section == null) {
        <h4 class="page-title pull-left">Permits Management</h4>
      } else {
        <h4 class="page-title pull-left">@ViewBag.section Permits</h4>
      }

      <h4 class="page-title pull-right">Total Permits : @Model.Count()</h4>
    </div>
  </div>
</div>
@if (TempData["message"] != null) {
  switch (messageID) {
    case "1":
      <label class="badge" style="color:green;font-weight:bold">Success! Permit Request has been created and Sent for Approval</label>
      break;
    case "2":
      <label class="badge" style="color:green;font-weight:bold">Success! Permit approved</label>
      break;
    case "3":
      <label class="badge" style="color:red;font-weight:bold">Error!Something went wrong</label>
      break;
    case "4":
      <label class="badge" style="color:green;font-weight:bold">Success! Status changed successfully</label>
      break;
    case "5":
      <label class="badge" style="color:green;font-weight:bold">Success! Record removed from system</label>
      break;

  }

}

<div class="row">
  <div class="col-12">
    <div class="card m-b-20">
      <div class="card-body top-filter">
        <div class="form-group col-sm-2 fa-pull-left">
          <div class=" mo-mb-2"><input id="searchRef" type="text" class="colorpicker-default form-control colorpicker-element" placeholder="Reference No"></div>
        </div>
        <div class="form-group col-sm-2 fa-pull-left">
          <div>
            <div class="input-group  mo-mb-2">
              <input type="text" class="form-control date-picker" placeholder="From [ mm/dd/yyyy ]" id="datepickerFrom">
              <div class="input-group-append"><span class="input-group-text filter-bar-icons"><i class="mdi mdi-calendar"></i></span></div>
            </div>
            <!-- input-group -->
          </div>
        </div>
        <div class="form-group col-sm-2 fa-pull-left">
          <div>
            <div class="input-group  mo-mb-2">
              <input type="text" class="form-control date-picker" placeholder="To [ mm/dd/yyyy ]" id="datepickerTo">
              <div class="input-group-append"><span class="input-group-text filter-bar-icons"><i class="mdi mdi-calendar"></i></span></div>
            </div>
            <!-- input-group -->
          </div>
        </div>
        <div class="col-sm-2 fa-pull-left">
          <div class="dropdown mo-mb-2">

            <button class="btn btn-secondary filter-btn border-0 btn-lg dropdown-toggle" type="button" id="dropdownMenuButtonPermit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Permit Type
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="/Permit/FDCList">Show FDC</a>
              


            </div>
          </div>
          <input type="hidden" id="permittype" name="permittype" value="0" />
        </div>
        <div class="col-sm-2 fa-pull-left">
          <div class="dropdown mo-mb-2">

            <button class="btn btn-secondary filter-btn border-0 btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Waste Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" onclick="$('#permittype').val(0); $('#dropdownMenuButton').html($(this).html())" href="#">All</a>
              <a class="dropdown-item" onclick="$('#permittype').val(1); $('#dropdownMenuButton').html($(this).html())" href="#">Municipal Solid Waste</a>
              <a class="dropdown-item" onclick="$('#permittype').val(2); $('#dropdownMenuButton').html($(this).html())" href="#">Industrial Non-hazardous Waste</a>
              <a class="dropdown-item" onclick="$('#permittype').val(3); $('#dropdownMenuButton').html($(this).html())" href="#">Hazardous Waste</a>
              <a class="dropdown-item" onclick="$('#permittype').val(4); $('#dropdownMenuButton').html($(this).html())" href="#">Expired Chemical/Products</a>
              <a class="dropdown-item" onclick="$('#permittype').val(5); $('#dropdownMenuButton').html($(this).html())" href="#">Lab Analysis &amp; Sampling</a>
            </div>
          </div>
          <input type="hidden" id="permittype" name="permittype" value="0" />
        </div>
        <div class="col-sm-2 fa-pull-left">
          <div class="dropdown mo-mb-2">
            <button class="btn btn-secondary filter-btn border-0 btn-lg dropdown-toggle" type="button" id="dropdownMenuButtonStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Status
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" onclick="$('#status').val(0); $('#dropdownMenuButtonStatus').html($(this).html())" href="#">All</a>
              <a class="dropdown-item" onclick="$('#status').val(1); $('#dropdownMenuButtonStatus').html($(this).html())" href="#">Permit Request Submitted</a>
              <a class="dropdown-item" onclick="$('#status').val(2); $('#dropdownMenuButtonStatus').html($(this).html())" href="#">Sampling Requested</a>
              <a class="dropdown-item" onclick="$('#status').val(3); $('#dropdownMenuButtonStatus').html($(this).html())" href="#">Sample Under Review</a>
              <a class="dropdown-item" onclick="$('#status').val(4); $('#dropdownMenuButtonStatus').html($(this).html())" href="#">More Sampling Required</a>
              <a class="dropdown-item" onclick="$('#status').val(5); $('#dropdownMenuButtonStatus').html($(this).html())" href="#">Permit Request Rejected</a>
              <a class="dropdown-item" onclick="$('#status').val(12); $('#dropdownMenuButtonStatus').html($(this).html())" href="#">Permit Request Accepted (Pending Payment)</a>
              <a class="dropdown-item" onclick="$('#status').val(7); $('#dropdownMenuButtonStatus').html($(this).html())" href="#">Permit Issued (Active)</a>
              <a class="dropdown-item" onclick="$('#status').val(8); $('#dropdownMenuButtonStatus').html($(this).html())" href="#">Permit Issued (Expired)</a>
              <a class="dropdown-item" onclick="$('#status').val(9); $('#dropdownMenuButtonStatus').html($(this).html())" href="#">Request Cancelled</a>
            </div>
            <input type="hidden" id="status" name="status" value="0" />
          </div>
        </div>
        <div class="col-sm-2 fa-pull-left">
          <button id="btnSearch" type="button" class="btn btn-lg btn-success waves-effect waves-light filter-btn-search">Search</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>

<div class="row">
  <div class="col-12">
    <div class="card m-b-20">
      <div class="card-body permits-managment-box">
        <div class="swipe-notification">
          <svg class="pull-left" style="width:40px; margin-top:5px;" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.5 491.5">
            <defs>
              <style>
                .cls-1 {
                  fill: #424242;
                }

                .cls-2 {
                  fill: none;
                }

                .cls-3 {
                  fill: #555;
                }
              </style>
            </defs>
            <title>swipe1</title>
            <g id="Layer_1-2" data-name="Layer_1"><polygon class="cls-1" points="386.8 421.4 386.8 421.4 391.1 421.4 391.1 421.4 386.8 421.4"></polygon><polygon class="cls-1" points="275.4 421.4 275.4 421.4 275.4 421.4 275.4 421.4"></polygon><path class="cls-1" d="M275.4,421.4Z"></path><rect class="cls-2" width="491.5" height="491.5"></rect><path class="cls-3" d="M403.7,309.8c2.7,35.9,3.8,50-22.1,94.6a7.71,7.71,0,0,0-.8,1.9c-.1.5-.2,1.1-.3,1.6v.6h0l-.3,12.5v.5h0v.1h0a11.52,11.52,0,0,1-2.4,6.6,5.72,5.72,0,0,1-.7.8l-5.4-5.5,5.4,5.5a10.67,10.67,0,0,1-7.5,3.1h-116a10.78,10.78,0,0,1-7.4-3h0l-.1-.1-.1-.1h0a10.85,10.85,0,0,1-3.1-7.5h0v-.3h0l.3-7.9v-.5h0v-.2a7.17,7.17,0,0,0-.6-2.9,7.82,7.82,0,0,0-1.7-2.6c-48.6-47.3-49.6-50.1-66.8-98.4-2.3-6.6-5-13.9-7.6-21.2l-8-9.2a26.56,26.56,0,0,1,.7-35.6,25.91,25.91,0,0,1,17.9-8.3,26.67,26.67,0,0,1,18.7,6.2c4.4,3.7,14.9,21,23.2,34.7V123a25.9,25.9,0,0,1,51.8,0v54.6l.1-.1a26.31,26.31,0,0,1,37.2,0,25.8,25.8,0,0,1,6.1,9.7,26.64,26.64,0,0,1,44,17.9,26.48,26.48,0,0,1,16.5-5.8h0a26.29,26.29,0,0,1,26.3,26l.5,39.6c.2,18.4,1.3,32.9,2.2,44.9Z"></path><polygon class="cls-3" points="174.8 130.6 116.4 130.6 116.4 147.8 86.5 117.9 116.4 88 116.4 105.2 174.8 105.2 174.8 130.6"></polygon><path class="cls-3" d="M211.8,181.9a66.2,66.2,0,1,1,87.4-21.3c-1,1.5-2.1,3-3.2,4.4a31.79,31.79,0,0,0-6.2-.6,32.8,32.8,0,0,0-10.9,1.8V149.5c.4-.6.8-1.1,1.2-1.7a43,43,0,1,0-71.5.6,35.71,35.71,0,0,0,3.4,4.3l-.2,29.2Z"></path><polygon class="cls-3" points="313.3 130.6 371.7 130.6 371.7 147.8 401.6 117.9 371.7 88 371.7 105.2 313.3 105.2 313.3 130.6"></polygon></g>
          </svg>

          <p class="text-muted m-b-0 pull-left m-t-15 font-12 m-t-20">Swipe <strong style="text-transform: uppercase">left</strong> and <strong style="text-transform: uppercase">right</strong> to see the full details</p>
        </div>
        <p class="text-muted m-b-20"></p>

        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap table-responsive" style="display: block; border-collapse: collapse; border-spacing: 0; width: 100%;">
          <thead>
            <tr>
              <th>Id #</th>
              <th>Ref Id</th>
              <th>Request Date</th>
              <th>Waste Category</th>
              <th>Amount</th>
              <th>Permit Status</th>
              <th>Weight Utilized</th>
              @*<th>Valid Till</th>*@
              @if (role!=3) {
                <th>Company</th>
              }
              <th>Permit Type</th>
              <th style="width:200px">Actions</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model) {

            <tr>
              <td>@item.ID</td>
              <td>@item.PermitreferenceiD</td>
              <td>@item.ApplyDate.ToString("dd/MMM/yyyy")</td>
              <td>
                @item.PermitType - @item.Category
              </td>
              <td>
                AED
                @if (item.TotalAmount.HasValue) {
                  <text>  @item.TotalAmount.Value.ToString("N2")</text>
                } else {
                  <text>0.0</text>;
                }
              </td>
              <td> @item.Status </td>
              
              <td> @Html.Raw( weightDescription(item.TotalWeight,item.ConsumedWeight))</td>
              @*<td></td>*@
              @if (role != 3) {
                <td>@item.CompanyName</td>
              }
              <td>@(item.IsSampling?"Sampling (Permit:"+item.permitID+")":"Permit")</td>
              <td>
                <a href="/Permit/Detail/@item.permitID"><button type="button" class="btn btn-secondary waves-effect waves-light"><i class="fa fa-eye"></i></button></a>
                @if (item.StatusId == 7 && (!item.IsSampling)) {
                  <a href="/Permit/GenerateCertificatePDF/@item.permitID">
                    <button type="button" class="btn btn-primary waves-effect waves-light"><i class="fa fa-download"></i></button>
                  </a>
                }
                @if (isDeleteAccess) {
                  <a onclick="return confirm('Are you sure?')" href="/Permit/DeletePermit/@item.permitID?type=Permit">
                    <button type="button" class="btn btn-danger waves-effect waves-light"><i class="fa fa-trash"></i></button>
                  </a>
                }

              </td>



            </tr>
            }


          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->



@section scripts{

  <script>

    $(document).ready(function () {


      var urlParams = new URLSearchParams(window.location.search);
      if (urlParams.has('status')) {
        $('#dropdownMenuButtonStatus').html('Filtered Record');
        $('status').val(urlParams.get('status'));
      }
      if (urlParams.has('permittype')) {
        $('#dropdownMenuButton').html('Filtered Record');
        $('permittype').val(urlParams.get('permittype'))
      }
      $('#btnSearch').click(function () {

        var status = $('#status').val();
        var permittype = $('#permittype').val();
        var refId = $('#searchRef').val();
        var datefrom = $('#datepickerFrom').val();
        var dateto = $('#datepickerTo').val();
        console.log($('#permittype').val());
        console.log($('#status').val())



        if (status == '0' && permittype == '0' && refId === '' && datefrom === '' && dateto==='') {
          window.location.href = "/Permit/Index";
        } else {
          var redirectURL = "/Permit/Index?status=" + status + "&permittype=" + permittype;
          if (refId !== '') {
            redirectURL += '&refid='+refId
          }
          if (datefrom !== '') {
            redirectURL += '&datefrom=' + datefrom
          }
          if (dateto !== '') {
            redirectURL += '&dateto=' + dateto
          }
          window.location.href = redirectURL;

        }



      })

     /// bootbox.alert("Hello world!");

      @if (TempData["message"] != null) {
  switch (messageID) {
    case "4":
      <text
    >alert("Success! Status changed successfully") </text>
      break;
  }

}
    })
	  
	  
  </script>


}
