@model HFZMVC.Models.EntityFramework.User
@{ 
    string check = "";
    string chkval = "false";
    if (@Model.Status == true)
    {
        check = "checked";
        chkval = "true";
    }
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Users Management</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashobard</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Users</a></li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { accept_charset = "utf-8" }))
                {
                    @Html.TextBoxFor(e => e.CreatedOn, new { style = "width:100% ; display:none;", @class = "form-control",id = "CreatedOn" })
                    @Html.TextBoxFor(e => e.CreatedBy, new { style = "width:100% ; display:none;", @class = "form-control",id = "CreatedBy" })
                    <div class="inputformfields">
                        <h5 class="page-title">General Information</h5>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                                <hr>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
                                <label>Full Name</label>
                                @Html.TextBoxFor(e => e.Name, new { style = "width:100%", @class = "form-control", placeholder = "User Full Name", id = "Name", name = "Name", autocomplete = "off" })
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
                                <label>Email Address</label>
                                @Html.TextBoxFor(e => e.EmailID, new { style = "width:100%", @class = "form-control", placeholder = "Enter Email", name = "EmailID", id = "EmailID", autocomplete = "off" })
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
                                <label>Phone Number</label>
                                @Html.TextBoxFor(e => e.PhoneNumber, new { style = "width:100%", @class = "form-control", placeholder = "Enter Email", name = "EmailID", id = "EmailID", autocomplete = "off" })
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
                                <label>User Name</label>
                                @Html.TextBoxFor(e => e.UserName, new { style = "width:100%", @class = "form-control", placeholder = "Enter UserName", name = "UserName", id = "UserName", autocomplete = "off" })
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
                                <label>Password</label>
                                @Html.PasswordFor(e => e.Password, new { style = "width:100%", @class = "form-control", placeholder = "Enter Password", name = "Password", id = "Password", autocomplete = "off" })
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group" style="margin: 38px 26px 0px 0px;float: left;">
                                    <input type="hidden" name="Status" id="Status" value="@chkval" />
                                    <input @check type="checkbox" onchange="$('#Status').val(this.checked)"> Active
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="btnsave" class="btn btn-primary btn-lg waves-effect waves-light">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
