@model HFZMVC.Models.EntityFramework.PermitTypeMaster
@{
  ViewBag.Title = "Edit";
}

<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">

      @if (ViewBag.section == null) {
        <h4 class="page-title pull-left">Edit Permit type master</h4>
      }

    </div>
  </div>
</div>

<div class="row">

  <div class="col-12">
    <div class="card m-b-20">
      <div class="card-body permits-managment-box">
        @using (Html.BeginForm("PTEdit", "MasterData", FormMethod.Post, new { id = "frm", @class = "form-horizontal" })) {

          @Html.HiddenFor(e => e.ID)
          @Html.HiddenFor(e => e.CreatedOn)
          @Html.HiddenFor(e => e.CreatedBy)
          <div class="col-md-6 form-group">
            <label>Data</label>
            @Html.EditorFor(e => e.PermitType)
          </div>
          <div class="col-md-6 form-group">
            <label>Amount</label>
            @Html.EditorFor(e => e.Amount)
          </div>
         
          <div class="col-md-6 form-group">
            Is Active?

            @Html.EditorFor(E => E.status)
          </div>

         
          if (ViewBag.error != null) {
            <label style="color:red;">@ViewBag.error.ToString()</label>
          }
          <div class="col-md-6 form-group">
            <button type="submit" id="btnCreate"
                    class="btn btn-success btn-lg waves-effect" style="margin: 0 auto;">
              Submit
            </button>
          </div>
        }
      </div>


    </div>

  </div>

</div>

