@model IEnumerable<HFZMVC.Models.PermitRequest.PermitRequestIndexViewModel>
@{
  ViewBag.Title = "SalesOrderIndex";
}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<br />
<h2>Fix Sales Order</h2>
@if (TempData["error"] != null) {
  <h3 class="badge" style="color:red">@TempData["error"] </h3>
}
@if (TempData["success"] != null) {
  <label class="badge" style="color:green">Success record updated!! </label>
}


<div class="row">
  <div class="col-12">
    <div class="card m-b-20">
      <div class="card-body">
        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap table-responsive" style=" display: block; display: block; border-collapse: collapse; border-spacing: 0; width: 100%;">
          <thead>
            <tr>
              <th>Id #</th>
              <th>Ref Id</th>
              <th>Request Date</th>
              <th>Waste Category</th>
              <th>Amount</th>
              <th>Permit Status</th>
             <th>Company</th>

              <th style="width:200px">Actions</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model) {

              <tr>
                <td>@item.ID</td>
                <td>@item.PermitreferenceiD</td>
                <td>@item.ApplyDate.ToString("dd/MMM/yyyy")</td>
                <td>
                  @item.PermitType - @item.Category
                </td>
                <td>
                  AED
                  @if (item.TotalAmount.HasValue) {
                    <text>  @item.TotalAmount.Value.ToString("N2")</text>
                  } else {
                    <text>0.0</text>;
                  }
                </td>
                <td> @item.Status </td>
                <td>@item.CompanyName</td>
                
                
                <td>
                  <a href="/Admin/PushSalesOrder/@item.permitID"><button type="button" class="btn btn-secondary waves-effect waves-light"><i class="fas fa-paper-plane"></i> &nbsp; Push to SAP</button></a>
               
               

                </td>



              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->
